body{
    background-color: #d4d4d4;
}
.flag{
    width: 500px;
    height: 300px;
    margin: 100px auto;
    position: relative;
    box-shadow: 2px 1px 20px 3px black;
    
}
.flag::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-color: transparent  transparent  transparent  red;
    border-width: 140px 0px 130px 150px;
    border-style: solid;
}
.black{
    width: 100%;
    height: calc(300px/3);
    background-color: black;

}
.white{
    width: 100%;
    height: calc(300px/3);
    background-color: white;

}
.green{
    width: 100%;
    height: calc(300px/3);
    background-color: green;

}
img{
    max-width: 500px;
     box-shadow: 2px 1px 20px 3px black;
}
.image{
    width: 500px;
    height: 300px;
    margin: 50px auto;
   
}

